$webResourceManager.requireResourcesForContext("ext-git-jira-integration")
<html>
<head>
    <title>$i18n.getText("ext-git-jira-integration.admin.label")</title>
    <meta name="decorator" content="atl.admin" />
    <meta name="admin.active.section" content="plugin-admin-config-link"/>
</head>
<body>
    <table id="project-config-versions-table"></table>

    <section id="delete-confirmation-dialog" class="aui-dialog2 aui-dialog2-medium aui-dialog2-warning aui-layer" role="dialog" aria-hidden="true" data-aui-focus="false" data-aui-blanketed="true" style="z-index: 3000;">
        <header class="aui-dialog2-header">
            <h2 class="aui-dialog2-header-main">Confirm</h2>
            <button class="aui-dialog2-header-close" aria-label="Close dialog" tabindex="0">
                <span class="aui-icon aui-icon-small aui-iconfont-close-dialog"></span>
            </button>
        </header>
        <div class="aui-dialog2-content">
            <p>You want to delete row:</p>
            <p id="restful-table-model"></p>
            <p> Are you sure?</p>
        </div>
        <footer class="aui-dialog2-footer">
            <div class="aui-dialog2-footer-actions">
                <button id="dialog-submit-button" class="aui-button aui-button-primary" resolved="">Yes</button>
                <button id="warning-dialog-cancel" class="aui-button aui-button-link" resolved="">Cancel</button>
            </div>
        </footer>
    </section>
</body>
</html>